<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<title>Devis</title>
    	<meta name="devis" content="devis">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<style type="text/css">
			body
			{
				height:1170px;
				width:827px;
				padding-top: 1%;
				padding-left: 10%;
				padding-right: 10%;
				font-family: Arial;
			}

			.logo-digiteam
			{
				text-align:right;
			}

			.logo-digiteam img
			{
				max-height: 85px;
				max-width: 85px;
			}

			.devis-numero
			{
				font-size: 20px;
			}

			.informations-emetteur-destinataire
			{
				display: flex;
			}

			.informations-emetteur-destinataire p
			{
				margin:3px;
			}

			.emetteur-champs
			{
				width:33%;
				display: inline-block;
				background-color: #BFBFBF;
			}

			.emetteur-infos
			{
				width:33%;
				display: inline-block;
				margin-left: 10px;
			}

			.destinataire
			{
				width:33%;
				display: inline-block;
				background-color: #BFBFBF;
			}

			#destinataire-margin-top
			{
				margin-top: 5px;
			}

			.table-devis
			{
				margin-top: 30px;
				width:100%;
				border-spacing: 0px;
			}

			.table-devis thead
			{
				background-color: #8EAADB;
			}

			.table-devis p
			{
				margin-top: 8px;
				margin-bottom: 8px;
			}

			.table-devis tbody p
			{
				font-weight: normal;
			}

			.table-devis th
			{
				border: 1px solid black;
			}

			.th-description
			{
				width: 52%;
			}

			.th-charge
			{
				width: 12%;
			}

			.th-prixHT
			{
				width: 12%;
			}

			.th-TVA
			{
				width: 12%;
			}

			.th-TTC
			{
				width: 12%;
			}

			.th-align-left
			{
				text-align: left;

			}

			.th-align-left p
			{
				margin-left: 5px;	
			}


			.montant-total
			{
				margin-top: 30px;
				display: flex;
			}

			.montant-total p
			{
				margin: 0px;
			}


			.champs-montant-total
			{
				margin-left: 57%;
				width:33%;
				display: inline-block;
			}

			.valeur-montant-total
			{
				width:10%;
				display: inline-block;
				text-align: right;
			}

			#margin-top-border
			{
				margin-top: 10px;
				padding-top: 2px;
				border-top: 1px solid black;
			}

			#margin-top-accompte
			{
				margin-top: 20px;
			}

			.signatures
			{
				margin-top: 20px;
				display: flex;	
			}

			.signatures p
			{
				margin-top: 5px;
			}

			.signature-agence
			{
				width:50%;
				padding-left: 0.5%;
				padding-right: 0.5%;
				border: 1px solid black;
				height: 150px;
			}

			.signature-client
			{
				width:50%;
				background-color: #A6A6A6;
				padding-left: 0.5%;
				padding-right: 0.5%;
				border: 1px solid black;
				height: 150px;
			}

			.footer
			{
				margin-top: 20px;
				display: flex;
				padding-bottom: 3%;
			}

			.footer p
			{
				margin:0;
			}

			.adresse-digiteam
			{
				width:33%;
			}

			.adresse-contact
			{
				width:33%;
			}

			.adresse-banque
			{
				width:34%;
			}

			#border-top-margin-bottom
			{
				border-top: 1px solid black;
				margin-bottom: 5px;
				padding-top: 2px;
			}
		</style>
	</head>
	<body>
		<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:white" >
		    <tbody>
		    <tr>
		        <td align="center" bgcolor="white">
		            <table  cellpadding="0" cellspacing="0" border="0">
		                <tbody>
		                <tr>
		                    <td class="w640"  width="640" height="10"></td>
		                </tr>

		                <!-- entete -->
		                <tr class="pagetoplogo">
		                    <td class="w640"  width="640">
		                        <table  class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#327cf9">
		                            <tbody>
		                            <tr>
		                                <td class="w30"  width="30"></td>
		                                <td  class="w580"  width="580" valign="middle" align="center">
		                                    <div class="pagetoplogo-content">
		                                        <img src="http://digiteam-p5.com/images/logo.png" class="logo-digiteam" alt="logo DigiTeam" title="logo agence Digiteam sport" style="background-color:#327cf9;height:70px;width:70px;margin-top:10px;margin-bottom:10px;">
		                                    </div>
		                                </td>
		                                <td class="w30"  width="30"></td>
		                            </tr>
		                            </tbody>
		                        </table>
		                    </td>
		                </tr>


		                <!-- contenu -->
		                <tr class="content">
		                    <td class="w640" class="w640"  width="640" bgcolor="#F8F8F8">
		                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
		                            <tbody>
		                            <tr>
		                                <td  class="w30"  width="30"></td>
		                                <td  class="w580"  width="580">
		                                    <!-- une zone de contenu -->
		                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
		                                        <tbody>
		                                        <tr>
		                                            <td class="w580"  width="580">
		                                                <h2 style="color:black; font-size:22px; padding-top:12px;">
		                                                    Votre demande de devis  </h2>

		                                                <div align="left" class="article-content">
		                                                    <p> {{ devis.civilite }} {{ devis.nom }} {{ devis.prenom }},</p>
		                                                    <p>
		                                                        Suite à votre demande de devis en date du {{ "now"|date("d/m/Y") }} depuis notre site http://digiteam-p5.com concernant,
		                                                        nous vous prions de trouver ci-joint notre proposition commerciale. </p>
		                                                        <p>Cette proposition tient compte des éléments de votre demande suivants :
		                                                    </p>
		                                                </div>
		                                            </td>
		                                        </tr>
		                                        <tr>
		                                            <td>
		                                                <div align="left" class="article-content">
		                                                    <p>
		                                                    <ul style="list-style: none;"> 
		                                                        {% if devis.caseStarterPack == true %}
		                                                            <li>Pack Starter</li>
		                                                        {% endif %}

		                                                        {% if devis.caseChallengerPack == true %}
		                                                            <li>Pack Challenger</li>
		                                                        {% endif %}

		                                                        {% if devis.caseExpertPack == true %}
		                                                            <li>Pack Expert</li>
		                                                        {% endif %}

		                                                        {% if devis.caseInboundMarketing == true %}
		                                                            <li>Inbound Marketing</li>
		                                                        {% endif %}

		                                                        {% if devis.caseConsulting == true %}
		                                                            <li>Consulting</li>
		                                                        {% endif %}

		                                                        {% if devis.caseDesign == true %}
		                                                            <li>Design</li>
		                                                        {% endif %}
		                                                    </ul>
		                                                    </p>
		                                                </div>
		                                            </td>
		                                        </tr>
		                                        <tr>
		                                            <td>
		                                            	<p>Nous tenons à vous préciser que ce devis est valable jusqu'au {{ dateExpiration }}.</p>
		                                                <p>Nous vous remercions donc de nous le retourner revêtu de la mention « bon pour accord » suivie de votre signature et de la date.</p>
		                                                <p>Avant toute acceptation, Digiteam reste bien entendu à votre entière disposition pour tout complément d'information.</p>
		                                                <p>Vous en souhaitant bonne réception, nous vous prions d'agréer, {{ devis.civilite }}, l'expression de mes salutations distinguées.</p>
		                                            </td>
		                                        </tr>
		                                          <br/><br/>

		                                        <tr>
		                                            <td><hr>
		                                                <div class="pagetoplogo-content">
		                                                    
		                                                    <h4>DigiTeam</h4>
		                                                    <p>3 rue de la Comédie
		                                                    34000 Montpellier</p>
		                                                    <p>Tél : 04-67-00-00-12</p>
		                                                </div>
		                                            </td>
		                                        </tr>

		                                        </tbody>
		                                    </table>


		                            </tbody>
		                        </table>
		                    </td>
		                </tr>



		                <!-- pied de page -->
		                <tr class="pagebottom">
		                    <td class="w640"  width="640">
		                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#327cf9">
		                            <tbody>
		                            <tr>
		                                <td colspan="5" height="10"></td>
		                            </tr>
		                            <tr>
		                                <td class="w30"  width="30"></td>
		                                <td class="w580"  width="580" valign="top">
		                                    <p align="right" class="pagebottom-content-left">
		                                        <a style="color:#f9af32;" href="http://digiteam-p5.com"><span style="color:#f9af32;">Site digiteam</span></a>
		                                    </p>
		                                </td>

		                                <td class="w30"  width="30"></td>
		                            </tr>
		                            <tr>
		                                <td colspan="5" height="10"></td>
		                            </tr>
		                            </tbody>
		                        </table>
		                    </td>
		                </tr>
		                <tr>
		                    <td class="w640"  width="640" height="60"></td>
		                </tr>
		                </tbody>
		            </table>
		        </td>
		    </tr>
		    </tbody>
		</table>

		<div style="margin-left:10%;margin-right:10%;">
		<div class="logo-digiteam"></div>
		<div class="devis-numero">
			<p><strong>DEVIS</strong> n°{{ devis.id }}</p>
		</div>

		<div class="informations-emetteur-destinataire">

			<div class="emetteur-champs">
				<p>Emis par</p>
				<p>Contact</p>
				<p>Date du devis</p>
				<p>Référence du devis</p>
				<p>Date de fin de validité du devis</p>
				<p>Modalité de paiement</p>				
			</div>

			<div class="emetteur-infos">
				<p>DIGITEAM</p>
				<p>DIGITEAM</p>
				<p>{{ "now"|date("d/m/Y") }}</p>
				<p>{{ devis.id }}</p>
				<p>{{ dateExpiration }}</p>
				<p>Solde à la livraison</p>				
			</div>

			<div class="destinataire">
				<p><strong>Destinataire</strong></p>
				<p id="destinataire-margin-top">{{ devis.civilite }} {{ devis.prenom }} {{ devis.nom }}</p>
				<p>{{ devis.adresse }}</p>
				<p>{{ devis.codePostal }} {{ devis.ville }}</p>
				<p>France</p>				
			</div>			
		</div>

		<table class="table-devis">
			<thead>

				<tr>
					<th class="th-description">Description</th>
					<th class="th-charge">Charge (jours)</th>
					<th class="th-prixHT">Prix HT</th>
					<th class="th-TVA">TVA</th>
					<th class="th-TTC">Prix TTC</th>
				</tr>
				
			</thead>
			<tbody>
				{% if devis.caseStarterPack == true %}
					<tr>
						<th class="th-align-left">
							<p>Création du site WordPress (1 à 5 pages)</p>
							<p>Création formulaire de contact</p>
							<p>Intégration de votre contenu</p>
						</th>
						<th><p>4</p></th>
						<th><p>805.56€</p></th>
						<th><p>20%</p></th>
						<th><p>966.67€</p></th>
					</tr>

					<tr>
						<th class="th-align-left"><p>Référencement naturel</p></th>
						<th><p>1</p></th>
						<th><p>201.39€</p></th>
						<th><p>20%</p></th>
						<th><p>241.67€</p></th>
					</tr>

					<tr>
						<th class="th-align-left"><p>Hébergement du nom de domaine et du site pendant un an</p></th>
						<th><p>0.5</p></th>
						<th><p>100.69€</p></th>
						<th><p>20%</p></th>
						<th><p>120.83€</p></th>
					</tr>

					<tr>
						<th class="th-align-left"><p>Formation</p></th>
						<th><p>0.5</p></th>
						<th><p>100.69€</p></th>
						<th><p>20%</p></th>
						<th><p>120.83€</p></th>
					</tr>
				{% endif %}

				{% if devis.caseChallengerPack == true %}
					<tr>
						<th class="th-align-left">
							<p>Création du site WordPress (5 à 15 pages), installation plugin</p>
							<p>Création formulaire de contact</p>
							<p>Création logo</p>
							<p>Intégration de votre contenu</p>							
						</th>
						<th><p>7.5</p></th>
						<th><p>1420.46€</p></th>
						<th><p>20%</p></th>
						<th><p>1704.55€</p></th>
					</tr>				

					<tr>
						<th class="th-align-left">
							<p>Référencement SEO</p>							
						</th>
						<th><p>1.5</p></th>
						<th><p>284.09€</p></th>
						<th><p>20%</p></th>
						<th><p>340.91€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Hébergement du nom de domaine et du site pendant un an</p>							
						</th>
						<th><p>0.5</p></th>
						<th><p>94.70€</p></th>
						<th><p>20%</p></th>
						<th><p>113.64€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Création pages réseaux sociaux</p>
							<p>Formation</p>	
						</th>
						<th><p>1.5</p></th>
						<th><p>284.09€</p></th>
						<th><p>20%</p></th>
						<th><p>340.91€</p></th>
					</tr>
				{% endif %}

				{% if devis.caseExpertPack == true %}
					<tr>
						<th class="th-align-left">
							<p>Stratégie marketing</p>						
						</th>
						<th><p>2.5</p></th>
						<th><p>438.60€</p></th>
						<th><p>20%</p></th>
						<th><p>526.32€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Cahier des charges sur mesure</p>							
						</th>
						<th><p>1.5</p></th>
						<th><p>263.16€</p></th>
						<th><p>20%</p></th>
						<th><p>315.79€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Création du site</p>
							<p>Création formulaire de contact</p>
							<p>Blog</p>
							<p>Espace d’administration</p>
							<p>Création logo</p>
							<p>Intégration de votre contenu (max 100 pages) ou sur mesure</p>							
						</th>
						<th><p>10.5</p></th>
						<th><p>1842.11€</p></th>
						<th><p>20%</p></th>
						<th><p>2210.53€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Stratégie SEO personnalisée Phase de déploiement</p>							
						</th>
						<th><p>2.5</p></th>
						<th><p>438.60€</p></th>
						<th><p>20%</p></th>
						<th><p>526.32€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Hébergement du nom de domaine et du site pendant un an</p>							
						</th>
						<th><p>0.5</p></th>
						<th><p>87.72€</p></th>
						<th><p>20%</p></th>
						<th><p>105.26€</p></th>
					</tr>

					<tr>
						<th class="th-align-left">
							<p>Création pages réseaux sociaux</p>
							<p>Formation</p>							
						</th>
						<th><p>1.5</p></th>
						<th><p>263.16€</p></th>
						<th><p>20%</p></th>
						<th><p>315.79€</p></th>
					</tr>
				{% endif %}

				{% if devis.caseInboundMarketing == true %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationInboundMarketing }}</p>
								
						</th>
						<th><p>{{ devis.chargeInboundMarketing }}</p></th>
						<th><p>{{ devis.prixHTInboundMarketing }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCInboundMarketing }}€</p></th>
					</tr>
				{% endif %}

				{% if devis.caseConsulting == true %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationConsulting }}</p>								
						</th>
						<th><p>{{ devis.chargeConsulting }}</p></th>
						<th><p>{{ devis.prixHTConsulting }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCConsulting }}€</p></th>
					</tr>
				{% endif %}

				{% if devis.caseDesign == true %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationDesign }}</p>								
						</th>
						<th><p>{{ devis.chargeDesign }}</p></th>
						<th><p>{{ devis.prixHTDesign }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCDesign }}€</p></th>
					</tr>
				{% endif %}

				{% if (devis.designationOption1 != null and  devis.prixHTOption1  != null) %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationOption1 }}</p>								
						</th>
						<th><p>{{ devis.chargeOption1 }}</p></th>
						<th><p>{{ devis.prixHTOption1 }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCOption1 }}€</p></th>
					</tr>
				{% endif %}

				{% if (devis.designationOption2 != null and  devis.prixHTOption2  != null) %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationOption2 }}</p>								
						</th>
						<th><p>{{ devis.chargeOption2 }}</p></th>
						<th><p>{{ devis.prixHTOption2 }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCOption2 }}€</p></th>
					</tr>
				{% endif %}

				{% if (devis.designationOption3 != null and  devis.prixHTOption3  != null) %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationOption3 }}</p>								
						</th>
						<th><p>{{ devis.chargeOption3 }}</p></th>
						<th><p>{{ devis.prixHTOption3 }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCOption3 }}€</p></th>
					</tr>
				{% endif %}	

				{% if (devis.designationOption4 != null and  devis.prixHTOption4  != null) %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationOption4 }}</p>								
						</th>
						<th><p>{{ devis.chargeOption4 }}</p></th>
						<th><p>{{ devis.prixHTOption4 }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCOption4 }}€</p></th>
					</tr>
				{% endif %}	

				{% if (devis.designationOption5 != null and  devis.prixHTOption5  != null) %}
					<tr>
						<th class="th-align-left">
							<p>{{ devis.designationOption5 }}</p>								
						</th>
						<th><p>{{ devis.chargeOption5 }}</p></th>
						<th><p>{{ devis.prixHTOption5 }}€</p></th>
						<th><p>20%</p></th>
						<th><p>{{ devis.prixTTCOption5 }}€</p></th>
					</tr>
				{% endif %}
				
			</tbody>
			
		</table>

		<div class="montant-total">

			<div class="champs-montant-total">
				<p><strong>TOTAL HT</strong></p>
				<p><strong>TOTAL TVA</strong></p>
				<p id="margin-top-border"><strong>TOTAL TTC</strong></p>
				<p id="margin-top-accompte">En votre aimable acompte de 50%</p>
			</div>

			<div class="valeur-montant-total">
				<p>{{ devis.prixTotalHT | number_format(2, '.', ' ') }}€</p>
				<p>{{ devis.prixTotalTVA | number_format(2, '.', ' ') }}€</p>
				<p id="margin-top-border"><strong>{{ devis.prixTotalTTC | number_format(2, '.', ' ') }}€</strong></p>
				<p id="margin-top-accompte"><strong>{{ devis.prixTotalTTC / 2 }}€</strong></p>
			</div>
			
		</div>

		<div class="signatures">

			<div class="signature-agence">
				<p>Notre signature précédée de la mention « lu et accepté ».</p>				
			</div>

			<div class="signature-client">
				<p>
					Votre signature précédée de la mention « Lu etaccepté ». Merci de parapher les 5 pages des conditions générales de l’offre.
				</p>
			</div>

		</div>	


		<div class="footer">

			<div class="adresse-digiteam">
				<p id="border-top-margin-bottom"><strong>DigiTeam</strong></p>
				<p>3 rue de la Comédie</p>
				<p>34000 Montpellier</p>
				<p>N° SIREN ou SIRET : xxxxx</p>
				<p>N° TVA : FRXX999999999</p>				
			</div>

			<div class="adresse-contact">
				<p id="border-top-margin-bottom"><strong>Contact</strong></p>
				<p>DigiTeam</p>
				<p>Tel : 04-67-00-00-12</p>
				<p>Mail : contact@digteam.com</p>
				<p>Site : www.digiteam-p5.com</p>				
			</div>

			<div class="adresse-banque">
				<p id="border-top-margin-bottom"><strong>Détails bancaires</strong></p>
				<p>Banque : BNP Paribas</p>
				<p>Code banque : 100000</p>
				<p>Numéro de compte : 12345678</p>
				<p>IBAN : FR2341124098234</p>
				<p>SWIFT/BIC : FRHHCXX1001</p>
			</div>
			
		</div>
		</div>
		
	</body>
</html>