<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width">
    <title>{% block title %}DigiTeam{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('stylperso/mail.css') }}" />
    {% endblock %}

</head>
<body style="margin:0px; padding:0px; -webkit-text-size-adjust:none;">

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:white" >
    <tbody>
    <tr>
        <td align="center" bgcolor="white">
            <table  cellpadding="0" cellspacing="0" border="0">
                <tbody>
                <tr>
                    <td class="w640"  width="640" height="10"></td>
                </tr>

                <tr>
                    <td align="center" class="w640"  width="640" height="20"> <a style="color:black; font-size:12px;" href="#"><span style="color:black; font-size:12px;">Voir le contenu de ce mail en ligne</span></a> </td>
                </tr>
                <tr>
                    <td class="w640"  width="640" height="10"></td>
                </tr>


                <!-- entete -->
                <tr class="pagetoplogo">
                    <td class="w640"  width="640">
                        <table  class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#327cf9">
                            <tbody>
                            <tr>
                                <td class="w30"  width="30"></td>
                                <td  class="w580"  width="580" valign="middle" align="center">
                                    <div class="pagetoplogo-content">
                                        <img class="w580" src="/images/logo.png" alt="Mon Logo" width="15%" height="15%"/>
                                    </div>
                                </td>
                                <td class="w30"  width="30"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


                <!-- contenu -->
                <tr class="content">
                    <td class="w640" class="w640"  width="640" bgcolor="#F8F8F8">
                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td  class="w30"  width="30"></td>
                                <td  class="w580"  width="580">
                                    <!-- une zone de contenu -->
                                    <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                        <tr>
                                            <td class="w580"  width="580">
                                                <h2 style="color:black; font-size:22px; padding-top:12px;">
                                                    Votre demande de devis  </h2>

                                                <div align="left" class="article-content">
                                                    <p> {{ devis.civilite }} {{ devis.nom }} {{ devis.prenom }},</p>
                                                    <p>
                                                        Suite à votre demande de devis en date du {{ "now"|date("d/m/Y") }} depuis notre site http://digiteam-p5.com concernant,
                                                        nous vous prions de trouver ci-joint notre proposition commerciale. </p>
                                                        <p>Cette proposition tient compte des éléments de votre demande suivants :
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div align="left" class="article-content">
                                                    <p>
                                                    <ul style="list-style: none;"> 
                                                        {% if devis.caseStarterPack == true %}
                                                            <li>Pack Starter</li>
                                                        {% endif %}

                                                        {% if devis.caseChallengerPack == true %}
                                                            <li>Pack Challenger</li>
                                                        {% endif %}

                                                        {% if devis.caseExpertPack == true %}
                                                            <li>Pack Expert</li>
                                                        {% endif %}

                                                        {% if devis.caseInboundMarketing == true %}
                                                            <li>Inbound Marketing</li>
                                                        {% endif %}

                                                        {% if devis.caseConsulting == true %}
                                                            <li>Consulting</li>
                                                        {% endif %}

                                                        {% if devis.caseDesign == true %}
                                                            <li>Design</li>
                                                        {% endif %}
                                                    </ul>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p>Nous vous remercions donc de nous le retourner revêtu de la mention « bon pour accord » suivie de votre signature et de la date.</p>
                                                <p>Avant toute acceptation, Digiteam reste bien entendu à votre entière disposition pour tout complément d'information.</p>
                                                <p>Vous en souhaitant bonne réception, nous vous prions d'agréer, {{ devis.civilite }}, l'expression de mes salutations distinguées.</p>
                                            </td>
                                        </tr>
                                          <br/><br/>

                                        <tr>
                                            <td><hr>
                                                <div class="pagetoplogo-content">
                                                    <img class="w580" src="/images/logo.png" alt="Mon Logo" width="10%" height="10%"/>
                                                    <h4>DigiTeam</h4>
                                                    <p>3 rue de la Comédie
                                                    34000 Montpellier</p>
                                                    <p>Tél : 04-67-00-00-12</p>
                                                </div>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>


                            </tbody>
                        </table>
                    </td>
                </tr>



                <!-- pied de page -->
                <tr class="pagebottom">
                    <td class="w640"  width="640">
                        <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" bgcolor="#327cf9">
                            <tbody>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            <tr>
                                <td class="w30"  width="30"></td>
                                <td class="w580"  width="580" valign="top">
                                    <p align="right" class="pagebottom-content-left">
                                        <a style="color:#f9af32;" href="http://digiteam-p5.com"><span style="color:#f9af32;">Site digiteam</span></a>
                                    </p>
                                </td>

                                <td class="w30"  width="30"></td>
                            </tr>
                            <tr>
                                <td colspan="5" height="10"></td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="w640"  width="640" height="60"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>