<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - présentation de l'agence</title>
    <meta name="description" content="L'agence Digiteam Sport vous accompagne de la conception jusqu'à la mise en place de votre stratégie digitale. Présentation. Equipe Digiteam">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

    <body>
    {% include 'layout/navbar.html.twig' %}

    <section id="titleAgence" class="titleAgence">
        <div class="imgAgence">
        <div class="container" >
            <div class="row">
                <div class="main_home text-center" style="padding-top:20%;">
                     <div class="home_text">
                         <h1 class="">Une équipe d'experts</h1>
                     </div>
                </div>
            </div><!--End off row-->
        </div><!--End off container -->
        </div>
    </section> <!--End off title agence Section-->

    <!--Présentation Section-->
    <section class="presentation" >
        <div class="container">
          <h5>
              Notre agence est située en plein coeur de Montpellier, nous sommes une équipe jeune et dynamique.<br/>
              <br/>
              Une équipe passionnée de <strong>sport</strong>, de <strong>marketing</strong> et de <strong>web</strong>.<br/><br/>
              Digiteam est spécialiste en communication digitale dans le sport, pour les sportifs, influenceurs et les professionnels.
                <br/><br/>
              Nous sommes vos coéquipiers pour la réalisation de tous vos projets liés à la communication digitale,
              comme la création ou l’animation de votre site internet.
              Votre accompagnement sur les réseaux sociaux, la recherche de partenaires, le développement de votre contenu
              médias ou encore l’amélioration de votre fan expérience. Nous nous adaptons à votre demande et à vos envies.
          </h5>
        </div><!-- End off container -->
    </section><!-- End off présentation section -->

    <!--image de fond Section-->
    <section class="imgAgence2">
    </section>
    <!--end image de fond Section-->

    <!--team Section-->
    <section id="teams" class="teams roomy-80">
        <div class="container">
            <div class="row">
                <div class="main_teams_content fix">

                    <div class="teams_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Notre <strong>Team</strong></h2>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="teams_item text-center sm-m-top-50">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="{{ asset('/images/Elodie.jpg') }}" alt="Photo Elodie" class="img-circle" />
                                <h4 class="m-top-20">Elodie <strong>Rouel</strong></h4>
                                <h5>Web Marketing</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-6 -->
                            <div class="col-md-6">
                                <img src="{{ asset('/images/Maxime.jpg') }}" alt="Photo Maxime" class="img-circle" />
                                <h4 class="m-top-20">Maxime <strong>Constantin</strong></h4>
                                <h5>Web Marketing</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-6 -->

                            <div class="col-md-6">
                                <br/>
                                <img src="{{ asset('/images/julie.jpg') }}" alt="Photo Julie" class="img-circle" />
                                <h4 class="m-top-20">Julie <strong>Tatibouet</strong></h4>
                                <h5>Développeur</h5>
                                <div class="separator"></div>
                                <ul class="list-inline">
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-6 -->
                            <div class="col-md-6">
                                <br/>
                                <img src="{{ asset('/images/Florian.jpg') }}" alt="Photo Florian" class="img-circle" />
                                <h4 class="m-top-20">Florian <strong>Breton</strong></h4>
                                <h5>Développeur</h5>
                                <div class="separator"></div>
                                <ul class="list-inline" >
                                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div><!-- End off col-md-6 -->
                        </div>
                    </div>

                </div><!-- End off main Team -->
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section><!-- End off Team section -->

    <!--image de fond section-->
    <section id="imgAgence" class="imgAgence2">
    </section>
    <!--fin image de fond Section-->

    <!--Valeurs Section-->
    <section id="valeurs" class="teams roomy-80">
        <div class="container">
            <div class="row">
                <div class="main_teams_content fix">

                    <div class="teams_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Nos <strong>Valeurs</strong></h2>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="teams_item  sm-m-top-50">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="m-top-20" style="color:#f9af32;"><strong>Créativité</strong></h3>
                                <br/><br/>
                                <h4 style="padding-right: 20%;">En faisant appel à Digiteam, les entreprises bénéficient
                                    de l’expérience et du savoir-faire d’une équipe de chefs de
                                    projets Marketing et Développement. Animations soignées,
                                    design élégant, navigation aisée, fonctionnalités novatrices :
                                    tels sont les éléments communs à tous les sites Digiteam.</h4>

                            </div><!-- End off col-md-6 -->
                            <div class="col-md-6">
                                <h3 class="m-top-20" style="color:#f9af32;"><strong>Exigence</strong></h3>
                                <br/><br/>
                                <h4 style="padding-right: 20%;">Notre équipe se dépasse chaque jour pour vous apporter qualité
                                    et réactivité. Création d’un site web pour accompagner le lancement
                                    imminent de votre projet, communication sur un nouveau service ou produit,
                                    modifications de site, Digiteam s’attache à répondre aux demandes à la
                                    perfection et dans les plus brefs délais.</h4>
                                <br/><br/>
                            </div><!-- End off col-md-6 -->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br/>
                                <h3 class="m-top-20" style="color:#f9af32;"><strong>Confiance</strong></h3>
                                <br/><br/>
                                <h4 style="padding-right: 20%;">Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                                    Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                                    le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                                    abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                                    vous accompagner et conseiller. </h4>
                            </div><!-- End off col-md-6 -->
                            <div class="col-md-6">
                                <br/>
                                <h3 class="m-top-20" style="color:#f9af32;"><strong>Partage</strong></h3>
                                <br/><br/>
                                <h4 style="padding-right: 20%;">La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                                    Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                                    avec des associations ou professionnels l'agence aime partager des connaissances,
                                    expériences ou plus simplement une ambiance.</h4>
                            </div><!-- End off col-md-6 -->
                        </div>
                    </div>

                </div><!-- End off main Team -->
            </div><!-- End off row -->
        </div><!-- End off container -->
    </section><!-- End off Valeurs section -->

    <a href="#" class="scrollup" style="display: block;"></a>


{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}

