<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport</title>
    <meta name="robots" content="noindex,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css') }}" />
    <!-- ci-dessous notre fichier CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('stylperso/auth.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400,300') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('http://fonts.googleapis.com/css?family=Lato:400,700,300') }}" />
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="main">

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">

                        <h1>DigiTeam</h1>
                        <h2>Espace d'administration du site</h2>

                        <form action="/users/login" name="login" role="form" class="form-horizontal" method="post" accept-charset="utf-8">
                            <div class="form-group">
                                <div class="col-md-8"><input name="username" placeholder="Idenfiant" class="form-control" type="text" id="UserUsername"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-8"><input name="password" placeholder="Mot de passe" class="form-control" type="password" id="UserPassword"/></div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-0 col-md-8"><input  class="btn btn-success btn btn-success" type="submit" value="Connexion"/></div>
                            </div>

                        </form>
                    </br></br>
                        <a href="{{ path('accueil') }}">Retour sur le site</a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
{% block javascripts %}
<script type="text/javascript" src="{{ asset('//code.jquery.com/jquery-1.11.0.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js') }}"></script>
{% endblock %}
</html>