{% extends 'base.html.twig' %}

{% block body %}

<body>

<div class="titlepage">

    <div class="container">
        <div class="">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-yellow">Notre blog</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </div>
    </div>
<br/><br/><br/><br/>
<div class="container">
<div class="">
    <div class="filters-button-group text-right sm-text-center">
        <button class="btn btn-default filter-button" data-filter="tout">Tout</button>
        <button class="btn btn-default filter-button" data-filter="conseil">Conseil</button>
        <button class="btn btn-default filter-button" data-filter="dev">Développement</button>
        <button class="btn btn-default filter-button" data-filter="ref">Référencement</button>
        <button class="btn btn-default filter-button" data-filter="mark">Marketing</button>
    </div>
</div>
    <br/><br/><br/><br/>
<div class="row">
    <div class="col-md-4 filter conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
                <span><h4>heading</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/animals" alt="">
                <span><h4>heading2</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/tech" alt="">
                <span><h4>heading3</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div><br/><br/><br/>
    </div>

    <div class="col-md-4 filter conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
                <span><h4>heading</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/animals" alt="">
                <span><h4>heading2</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/tech" alt="">
                <span><h4>heading3</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div><br/><br/><br/>
    </div>

    <div class="col-md-4 filter conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
                <span><h4>heading</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/animals" alt="">
                <span><h4>heading2</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/tech" alt="">
                <span><h4>heading3</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="#" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>
</div> </div><br/><br/><br/>
</div>
<!-- details card section starts from here -->
</body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bootstrap/js/plugins.js') }}"></script>
    <script src="{{ asset('//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('stylperso/fonction.js') }}"></script>
{% endblock %}