<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - Notre blog</title>
    <meta name="description" content="L'agence Digiteam Sport vous accompagne de la conception jusqu'à la mise en place de votre stratégie digitale. Notre blog">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

<body>
{% include 'layout/navbar.html.twig' %}

<div class="titlepage">

    <div class="container">
        <div class="">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-orange">Notre blog</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
        </div>
    </div>
<br/><br/><br/><br/>



<div class="container">
<div class="">
    <div class="filters-button-group text-right sm-text-center">
        <button class="btn filter-button" data-filter="tout">Tout</button>
        <button class="btn filter-button" data-filter="conseil">Web</button>
        <button class="btn filter-button" data-filter="dev">Conseil</button>
        <button class="btn filter-button" data-filter="ref">Inbound</button>
        <button class="btn filter-button" data-filter="mark">Design</button>
    </div>
</div>
    <br/><br/><br/><br/>
<div class="row">
    <div class="col-md-4 filter tout conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
                <span><h4>heading</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>

                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter tout conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/animals" alt="">
                <span><h4>heading2</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter tout">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/tech" alt="">
                <span><h4>heading3</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div><br/><br/><br/>
    </div>

    <div class="col-md-4 filter tout conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
                <span><h4>heading</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter tout conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/animals" alt="">
                <span><h4>heading2</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter tout">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/tech" alt="">
                <span><h4>heading3</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div><br/><br/><br/>
    </div>

    <div class="col-md-4 filter tout conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/nature" alt="">
                <span><h4>heading</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 filter tout conseil">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/animals" alt="">
                <span><h4>heading2</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading2</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>

    <div class="col-md-4 tout">
        <div class="card-content">
            <div class="card-img">
                <img src="https://placeimg.com/380/230/tech" alt="">
                <span><h4>heading3</h4></span>
            </div>
            <div class="card-desc">
                <h3>Heading3</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam, voluptatum! Dolor quo, perspiciatis
                    voluptas totam</p>
                <a href="{{ path('article') }}" class="btn-card">En savoir plus</a>
            </div>
        </div>
    </div>
</div> </div><br/><br/><br/>

{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}

