<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - Nos expertises</title>
    <meta name="description" content="L'agence Digiteam Sport vous accompagne de la conception jusqu'à la mise en place de votre stratégie digitale. Nos expertises">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

<body>
{% include 'layout/navbar.html.twig' %}


<!--présentation services  Section-->
<section id="domaines" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello">
                        <div class="slid_item">
                            <div class="home_text ">
                                <h1 class="text-orange">Nos domaines d'expertise</h1>
                            </div>
                        <br/><br/><br/>
                            <div class="container">
                                <div class="row">
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                        <a href="#dev" class="nav-box text-center" style="color: black;text-align: center;"><h3>Développement</h3></a></div></div>
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                        <a href="#consulting" class="nav-box text-center" style="color: black;text-align: center;"><h3>Consulting</h3></a></div></div>
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                            <a href="#inbound" class="nav-box text-center" style="color: black;text-align: center;"><h3>Inbound Marketing</h3></a></div></div>
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                            <a href="#design" class="nav-box text-center" style="color: black;text-align: center;"><h3>Web Design</h3></a></div></div>
                                </div>
                            </div>
                        </div><!-- End off slid item -->
                    </div>
                </div>
            </div>


            <a class="mouse-scroll" href="#dev">
                            <span class="mouse">
                                <span class="mouse-movement"></span>
                            </span>
                <span class="mouse-message fadeIn">Voir la suite</span> <br />
                <!--<i class="fa fa-angle-down m-top-10 fadeIn mouse-message"></i>-->
            </a>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off présentation Section-->

<!--Développement Section-->
<section id="dev" class="teams roomy-80" style="padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="teams_item">
                    <div class="head_title">
                        <h2 class="text-uppercase">Notre expertise <strong>Développement</strong></h2>
                    </div>
                </div>
                <br/>
                <div class="teams_item  sm-m-top-50">

                            <h4>En faisant appel à Digiteam, les entreprises bénéficient
                                de l’expérience et du savoir-faire d’une équipe de chefs de
                                projets Marketing et Développement. Animations soignées,
                                design élégant, navigation aisée, fonctionnalités novatrices :
                                tels sont les éléments communs à tous les sites Digiteam.
                            <br/><br/>
                            Notre équipe se dépasse chaque jour pour vous apporter qualité
                                et réactivité. Création d’un site web pour accompagner le lancement
                                imminent de votre projet, communication sur un nouveau service ou produit,
                                modifications de site, Digiteam s’attache à répondre aux demandes à la
                                perfection et dans les plus brefs délais.</h4>
                            <br/><br/>

                            <h3 style="color:#f9af32;font-weight: bold;">Solution sur mesure</h3>

                            <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                                Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                                le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                                abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                                vous accompagner et conseiller.

                            <br/><br/>
                            La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                                Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                                avec des associations ou professionnels l'agence aime partager des connaissances,
                                expériences ou plus simplement une ambiance.</h4>

                            <br/><br/>
                            <h3 style="color:#f9af32;font-weight: bold;">Solution CMS</h3>

                            <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                                Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                                le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                                abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                                vous accompagner et conseiller.

                                <br/><br/>
                                La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                                Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                                avec des associations ou professionnels l'agence aime partager des connaissances,
                                expériences ou plus simplement une ambiance.</h4>
                </div><!-- End off main -->
            </div><!-- End off row -->
        </div><!-- End off container -->
    </div>
</section><!-- End off Dev section -->
<!--consulting Section-->
<section id="consulting" class="teams roomy-80" style="padding-top: 10%;">
        <div class="container">
           <div class="row">
             <div class="main_teams_content fix">
                  <div class="teams_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Notre expertise <strong>Consulting</strong></h2>
                        </div>
                      <h3 style="color:#f9af32;font-weight: bold;">Audit/Conseil technique</h3>

                      <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                          Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                          le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                          abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                          vous accompagner et conseiller.

                          <br/><br/>
                          La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                          Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                          avec des associations ou professionnels l'agence aime partager des connaissances,
                          expériences ou plus simplement une ambiance.</h4>
                      <br/><br/>
                      <div align="center" >
                          <a href="{{ path ('contact') }}" class="btn btn-default">Demander un devis</a>
                      </div>
                      <br/><br/>
                      <h3 style="color:#f9af32;font-weight: bold;">Gestion de projet</h3>

                      <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                          Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                          le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                          abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                          vous accompagner et conseiller.

                          <br/><br/>
                          La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                          Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                          avec des associations ou professionnels l'agence aime partager des connaissances,
                          expériences ou plus simplement une ambiance.</h4>
                      <br/><br/>
                      <div align="center" >
                          <a href="{{ path ('contact') }}" class="btn btn-default">Demander un devis</a>
                      </div>
                  </div>
              </div><!-- End off main  -->
             </div><!-- End off row -->
           </div><!-- End off container -->
        </div>
</section><!-- End off Consulting section -->
<!--Inbound Section-->
<section id="inbound" class="teams roomy-80" style="padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="teams_item">
                    <div class="head_title">
                        <h2 class="text-uppercase">Notre expertise <strong>Inbound Marketing</strong></h2>
                    </div>
                    <br/>
                    <h3 style="color:#f9af32;font-weight: bold;">Objectifs</h3>
                    <br/>
                    <div class="teams_item text-center sm-m-top-50">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-img">
                                    <img src="https://placeimg.com/380/230/nature" alt="">
                                    <br/><br/>
                                    <span><h4>Attirer votre audience</h4></span>
                                </div><br/>
                                <p>En faisant appel à Digiteam, les entreprises bénéficient
                                    de l’expérience et du savoir-faire d’une équipe de chefs de
                                    projets Marketing et Développement. Animations soignées,
                                    design élégant, navigation aisée, fonctionnalités novatrices :
                                    tels sont les éléments communs à tous les sites Digiteam.</p>

                            </div><!-- End off col-md-6 -->
                            <div class="col-md-4">
                                <div class="card-img">
                                <img src="https://placeimg.com/380/230/nature" alt="">
                                <br/><br/>
                                <span><h4>Générer des leads</h4></span>
                            </div><br/>
                                <p>Notre équipe se dépasse chaque jour pour vous apporter qualité
                                    et réactivité. Création d’un site web pour accompagner le lancement
                                    imminent de votre projet, communication sur un nouveau service ou produit,
                                    modifications de site, Digiteam s’attache à répondre aux demandes à la
                                    perfection et dans les plus brefs délais.</p>
                                <br/><br/><br/><br/>
                            </div><!-- End off col-md-6 -->

                            <div class="col-md-4">
                                <div class="card-img">
                                    <img src="https://placeimg.com/380/230/nature" alt="">
                                    <br/><br/>
                                    <span><h4>Concluer plus de contrats/ventes</h4></span>
                                </div><br/>
                                <p>Notre équipe se dépasse chaque jour pour vous apporter qualité
                                    et réactivité. Création d’un site web pour accompagner le lancement
                                    imminent de votre projet, communication sur un nouveau service ou produit,
                                    modifications de site, Digiteam s’attache à répondre aux demandes à la
                                    perfection et dans les plus brefs délais.</p>
                            </div>
                        </div>
                    </div>
                    <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                        Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                        le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                        abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                        vous accompagner et conseiller.
                    </h4>
                <br/><br/>
                    <h3 style="color:#f9af32;font-weight: bold;">Méthodologie</h3>

                    <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                        Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                        le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                        abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                        vous accompagner et conseiller.
                        La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                        Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                        avec des associations ou professionnels l'agence aime partager des connaissances,
                        expériences ou plus simplement une ambiance.</h4>
                    <br/><br/>
                    <div align="center" >
                        <a href="{{ path ('contact') }}" class="btn btn-default">Demander un devis</a>
                    </div>
                </div>
            </div><!-- End off main  -->
        </div><!-- End off row -->
    </div><!-- End off container -->
    </div>
</section><!-- End off Inbound marketing section -->
<!--Design Section-->
<section id="design" class="teams roomy-80" style="padding-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="teams_item">
                    <div class="head_title">
                        <h2 class="text-uppercase">Notre expertise <strong>Web Design</strong></h2>
                    </div>
                    <h3 style="color:#f9af32;font-weight: bold;">Définition et contraintes du Web Design</h3>

                    <h4>Nous bâtissons une vraie relation de confiance avec nos clients et partenaires.
                        Vous vous engagez dans un contrat, nous nous engageons à vous apporter
                        le meilleur de nous-mêmes. Une fois le site en ligne, le client Digiteam n’est pas
                        abandonné. Le support Digiteam et les différents interlocuteurs sont là pour
                        vous accompagner et conseiller.

                        <br/><br/>
                        La connexion avec l'autre fait partie intégrante de l'esprit de partage Digiteam.
                        Au détour d'une soirée avec nos clients et partenaires, lors d'une rencontre
                        avec des associations ou professionnels l'agence aime partager des connaissances,
                        expériences ou plus simplement une ambiance.</h4>
                    <br/><br/>
                    <div align="center" >
                        <a href="{{ path ('services') }}" class="btn btn-default">Consulter nos services</a>
                    </div>
                </div>
            </div><!-- End off main  -->
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off design section -->

<a href="#" class="scrollup" style="display: block;"></a>
{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}