<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - Nos expertises</title>
    <meta name="description" content="L'agence Digiteam Sport vous accompagne de la conception jusqu'à la mise en place de votre stratégie digitale.
    Nos expertises. Inbound Marketing. Développement. Audit.Conseil.Gestion de projet. Design">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

<body>
{% include 'layout/navbar.html.twig' %}


<!--présentation services  Section-->
<section id="domaines" class="home bg-black fix">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="hello">
                        <div class="slid_item">
                            <div class="home_text ">
                                <h1 class="text-orange">Nos domaines d'expertise</h1>
                            </div>
                        <br/><br/><br/>
                            <div class="container">
                                <div class="row">
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                        <a href="#dev" class="nav-box text-center" style="color: black;text-align: center;"><h3>Développement</h3></a></div></div>
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                        <a href="#consulting" class="nav-box text-center" style="color: black;text-align: center;"><h3>Consulting</h3></a></div></div>
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                            <a href="#inbound" class="nav-box text-center" style="color: black;text-align: center;"><h3>Inbound Marketing</h3></a></div></div>
                                    <div class="box col-lg-3 col-md-6 mb-5 mb-lg-0">
                                        <div class="card">
                                            <a href="#design" class="nav-box text-center" style="color: black;text-align: center;"><h3>Web Design</h3></a></div></div>
                                </div>
                            </div>
                        </div><!-- End off slid item -->
                    </div>
                </div>
            </div>


            <a class="mouse-scroll" href="#dev">
                            <span class="mouse">
                                <span class="mouse-movement"></span>
                            </span>
                <span class="mouse-message fadeIn">Voir la suite</span> <br />
                <!--<i class="fa fa-angle-down m-top-10 fadeIn mouse-message"></i>-->
            </a>
        </div><!--End off row-->
    </div><!--End off container -->
</section> <!--End off présentation Section-->

<!--Développement Section-->
<section id="dev" class="teams roomy-80" style="padding-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="teams_item">
                    <div class="head_title">
                        <h2 class="text-uppercase">Notre expertise <strong>Développement</strong></h2>
                    </div>
                </div>
                <br/>
                <div class="teams_item  sm-m-top-50">

                            <h4>L’agence Digiteam est composée de 2 développeurs apportant
                                leur expertise et leurs conseils techniques dans vos projets digitaux.
                                Nous mettons à disposition notre savoir-faire pour vous garantir un
                                développement technique performant et évolutif. Nos solutions sont dynamiques
                                et correspondent aux besoins exprimés dans votre cahier des charges.
                                <br/>
                                Nous concevons des sites sur-mesure ou adaptons l’existant à votre utilisation.
                            </h4>
                            <br/><br/>

                            <h3 style="color:#f9af32;font-weight: bold;">Solution sur mesure</h3>

                            <h4>Une solution technique adaptée à vos projets :
                                Symfony facilite le développement de
                                sites et d'applications web. Cette solution s'avère être très adaptable.
                                <br/>
                                C’est une référence utilisée par de nombreux sites (le site digiteam en fait partie).
                            </h4>

                            <br/><br/>
                            <h3 style="color:#f9af32;font-weight: bold;">Solution CMS</h3>

                               <h4>Wordpress est le CMS le plus connu pour supporter des <strong>blogs</strong>.
                                Il s’avère être très efficace pour mettre en ligne du contenu régulier.
                                Avec ce système, vous pouvez rapidement devenir autonome pour poster vos articles.</h4>

                    <br/><br/>
                    <div align="center" >
                        <a href="{{ path ('devis') }}" class="btn btn-default">Demander un devis</a>
                    </div>
                </div><!-- End off main -->
            </div><!-- End off row -->
        </div><!-- End off container -->
    </div>
</section><!-- End off Dev section -->
<!--consulting Section-->
<section id="consulting" class="teams roomy-80" style="padding-top: 5%;">
        <div class="container">
           <div class="row">
             <div class="main_teams_content fix">
                  <div class="teams_item">
                        <div class="head_title">
                            <h2 class="text-uppercase">Notre expertise <strong>Consulting</strong></h2>
                        </div>
                      <h3 style="color:#f9af32;font-weight: bold;">Audit/Conseil technique</h3>

                      <h4>Les avantages de l’audit et des conseils techniques : <br/>
                          <br/>
                          •	Grâce à l’<strong>audit</strong>, vous avez une vision claire des tenants et des aboutissants de la situation que vous souhaitez résoudre ou améliorer.<br/>
                          •	Vous gagnez du temps et de l’argent, vous limitez les risques en bénéficiant des meilleurs conseils techniques.<br/>
                          •	Vous avez en main la solution, il ne vous reste plus qu’à sélectionner le ou les prestataires adéquats.<br/>
                      </h4>

                      <br/><br/>
                      <h3 style="color:#f9af32;font-weight: bold;">Gestion de projet</h3>

                      <h4>Notre accompagnement se fonde sur ce principe :  être facilitateur dans le parcours vers la solution qui vous convient.
                          5 raisons de faire appel à notre compétence de <strong>gestion de projet</strong> :<br/>
                          <br/>
                          •	Vos projets sont menés à terme plus rapidement, notamment grâce à notre capacité à trouver les compétences
                          spécialisées pour faire aboutir la solution<br/>
                          •	Vous dépensez moins d’argent pour réussir vos projets<br/>
                          •	Vous résolvez les problèmes plus facilement<br/>
                          •	Vous réduisez les efforts de vos collaborateurs grâce à une organisation du travail plus efficace

                      </h4>
                      <br/><br/>
                      <div align="center" >
                          <a href="{{ path ('devis') }}" class="btn btn-default">Demander un devis</a>
                      </div>
                  </div>
              </div><!-- End off main  -->
             </div><!-- End off row -->
           </div><!-- End off container -->
        </div>
</section><!-- End off Consulting section -->
<!--Inbound Section-->
<section id="inbound" class="teams roomy-80" style="padding-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="teams_item">
                    <div class="head_title">
                        <h2 class="text-uppercase">Notre expertise <strong>Inbound Marketing</strong></h2>
                    </div>
                    <br/>
                    <h3 style="color:#f9af32;font-weight: bold;">Objectifs</h3>
                    <br/>
                    <div class="teams_item text-center sm-m-top-50">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-img">
                                    <img src="/images/audience.png" alt="audience" style="height: 80px;widht:80px;">
                                    <br/><br/>
                                    <span><h4>Attirer votre audience</h4></span>
                                </div><br/>
                                <p style="padding-right: 10%;padding-left: 10%;">Focalisez vous sur du trafic et une audience intéressants pour votre business.
                                    Pourquoi? Parce que les prospects non qualifiés font perdre du temps à vos commerciaux.
                                    Vous devez donc attirer les personnes les plus susceptibles d'être vos futurs clients.</p>

                            </div><!-- End off col-md-6 -->
                            <div class="col-md-4">
                                <div class="card-img">
                                    <img src="/images/leads.png" alt="leads" style="height: 80px;widht:80px;">
                                <br/><br/>
                                <span><h4>Générer des leads</h4></span>
                            </div><br/>
                                <p style="padding-right: 10%;padding-left: 10%;">Une fois que vous avez attiré les bons visiteurs sur votre site, il est temps désormais de les convertir en prospects.
                                    Capturez des informations précieuses sur ces prospects, et commencez une interaction avec eux.
                                    Répondez à leurs problématiques et engagez-les dans votre tunnel de vente.</p>
                                <br/><br/><br/><br/>
                            </div><!-- End off col-md-6 -->

                            <div class="col-md-4">
                                <div class="card-img">
                                    <img src="/images/contrats.png" alt="contrats" style="height: 80px;widht:80px;">
                                    <br/><br/>
                                    <span><h4>Concluer plus de contrats/ventes</h4></span>
                                </div><br/>
                                <p style="padding-right: 10%;padding-left: 10%;">Vous avez réussi à convertir les bons prospects grâce à votre site internet, mais maintenant
                                    il faut les transformez en clients. Grâce à l'automatisation marketing, aidez vos commerciaux à
                                    conclure plus de ventes, plus rapidement et plus facilement.</p>
                            </div>
                        </div>
                    </div>
                    <h4>Misez sur une utilisation efficace du Marketing Digital comme une force de vente à part entière.
                        Nous vous aidons à intégrer de nouvelles méthodes d'acquisitions clients avec le digital pour démultiplier vos opportunités.
                    </h4>
                <br/><br/>
                    <h3 style="color:#f9af32;font-weight: bold;">Méthodologie</h3>

                    <h4>Vos clients potentiels vous cherchent sur internet.
                        Cela fait partie des nouvelles habitudes de consommation. <br/>
                        L'objectif de l'inbound marketing consiste à faire venir le
                        client vers vous plutôt que de l’attirer avec des techniques traditionnelles puis de l’amener à maturité pour qu’il convertisse.
                        <br/><br/>
                        Le consommateur développe ainsi une perception extrêmement favorable envers votre entreprise, vos services et/ou vos
                        produits et vous considère comme une référence de votre secteur.
                        <br/><br/>
                        L’<strong>inbound</strong> répond donc à l’évolution des comportements d’achat et intègre tous les moyens et outils du <strong>Marketing Digital</strong>
                        pour : attirer, convertir, conclure et fidéliser.</h4>
                    <br/><br/>
                    <div align="center" >
                        <a href="{{ path ('devis') }}" class="btn btn-default">Demander un devis</a>
                    </div>
                </div>
            </div><!-- End off main  -->
        </div><!-- End off row -->
    </div><!-- End off container -->
    </div>
</section><!-- End off Inbound marketing section -->
<!--Design Section-->
<section id="design" class="teams roomy-80" style="padding-top: 5%;">
    <div class="container">
        <div class="row">
            <div class="main_teams_content fix">
                <div class="teams_item">
                    <div class="head_title">
                        <h2 class="text-uppercase">Notre expertise <strong>Web Design</strong></h2>
                    </div>
                    <h3 style="color:#f9af32;font-weight: bold;">Définition et contraintes du Web Design</h3>

                    <h4>Le terme web design est parfois utilisé à contre-sens et confondu avec la création graphique.
                        <br/><br/>
                        Le <strong>web-design</strong> n'est pas seulement le visuel ou le dessin artistique d'un site, puisqu'il
                        prend en compte tous les paramètres spécifiques au web, de la création, du web-marketing et de la technique.
                        Le web design désigne la conception de l'interface web par :<br/>
                        <br/>
                        - l’architecture interactive,<br/>
                        - l’organisation des pages,<br/>
                        - l’arborescence (menu horizontal/vertical, en haut/en bas, à droite/à gauche),<br/>
                        - la navigation au sein d'un site internet.


                        <br/><br/>
                        Ces phases sont donc essentielles à la conception d’un site internet avec pour objectif l'optimisation de l'ergonomie,
                        l'utilisabilité et l’accessibilité.<br/>
                        <br/>
                        Le web design exige donc des compétences variées : en programmation (HTML, CSS, Javascript), en ergonomie et en interactivité,
                        ainsi que le respect des recommandations du W3C, accessibilité, portabilité.<br/>
                        <br/>
                        Le design d'un site se présente sous forme de maquette fonctionnelle et de spécifications techniques. Celles-ci sont ensuite
                        transformées, avec la maquette graphique, en lignes de code et images afin de s’afficher dans un navigateur web
                        (Internet Explorer, Firefox, Safari,...). <br/>Cette phase de conception d'un site internet est très importante pour rendre votre
                        site visible par les internautes et par les robots pour un bon référencement sur le web. <br/>De plus, votre site doit être correctement
                        interprété par les différents navigateurs existants, et les différentes plateformes (Mac, PC, Portable, PDA, Smartphone, Iphone,...).
                    </h4>
                    <br/><br/>
                    <h3 style="color:#f9af32;font-weight: bold;">Démarquez vous avec une conception web originale !</h3>
                    <h4>Pour vous démarquer, notre studio de création graphique imagine, crée et adapte votre image pour chaque support de communication. <br/>
                        La <strong>communication visuelle</strong> permet d'accrocher le regard et de capter l'attention : elle dévoile en un coup d’œil votre image,
                        l'image que vous souhaitez véhiculer. L'impact doit être immédiat.<br/>
                    Nos talents artistiques jouent un rôle majeur dans chacune de nos interventions
                        (création de site web, animation flash, plaquette papier, flyer, publicité, web marketing...).<br/>
                        DigiTeam crée une charte graphique en adéquation avec l'image que vous souhaitez véhiculer.</h4>

                    <br/><br/>
                    <div align="center" >
                        <a href="{{ path ('services') }}" class="btn btn-default">Consulter nos services</a>
                    </div>
                </div>
            </div><!-- End off main  -->
        </div><!-- End off row -->
    </div><!-- End off container -->
</section><!-- End off design section -->

<a href="#" class="scrollup" style="display: block;"></a>
{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}