<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>DigiTeam - agence digitale sport - nos services</title>
    <meta name="description" content="L'agence Digiteam Sport vous propose ici son catalogue de services. Nos services">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ asset('/images/favicon.ico') }}" />

    <title>{% block title %}DigiTeam{% endblock %}</title>

    {% include 'layout/stylesheets.html.twig' %}

</head>

<body>
{% include 'layout/navbar.html.twig' %}

<div class="titlepage">

    <div class="container">
        <div class="">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="">
                        <div class="">
                            <div class="home_text ">
                                <h1 class="text-orange">Nos services</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Pricing Section-->
<section id="pricing" class="pricing lightbg" style="padding-top: 5%;">
    <div class="container">
        <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="pricing_item">

                        <div class="pricing_head p-top-30 p-bottom-100 text-center">
                            <div class="card-img">
                                <img src="/images/Starter.png" alt="pack Starter">
                                <br/><br/>
                                <h3 class="text-uppercase"><strong>Pack starter</strong></h3>
                            </div><br/>

                        <div class="pricing_body bg-white p-top-20 p-bottom-20" style="line-height:1.5;text-align: left;padding-left: 2%;padding-right:2%">
                            <ul style="font-weight:600;">
                                <li><i class="fa fa-check-circle text-primary"></i> Création du site Wordpress 1 à 5 pages</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Choix du thème parmi une selection</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Responsive design</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un formulaire de contact</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Intégration de votre contenu</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Référencement naturel</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Hébergement et nom de domaine 1 an</li>
                                <li><i class="fa fa-check-circle text-primary"></i> 2 adresses e-mail</li>
                                <li><i class="fa fa-check-circle text-primary"></i> Formation</li>
                            </ul>
                            <div class="pricing_btn text-center m-top-20 m-bottom-20">
                                <h3>1 450€</h3>
                            </div>
                            <div align="center" >
                                <a href="{{ path ('devis') }}#starter" class="btn btn-default">Demander un devis</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">

                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <div class="card-img">
                            <img src="/images/Challenger.png" alt="pack Challenger">
                            <br/><br/>
                            <h3 class="text-uppercase"><strong>Pack challenger</strong></h3>
                        </div><br/>

                        <div class="pricing_body bg-white p-top-20 p-bottom-20" style="line-height:1.5;text-align: left;padding-left: 2%;padding-right:2%">
                            <ul style="font-weight:600;">
                                <li><i class="fa fa-check-circle text-primary"></i> Création du site Wordpress 5 à 15 pages </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Choix du thème premium </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Responsive design </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un formulaire de contact </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un blog </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Intégration de votre contenu </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création de votre logo </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Référencement SEO </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Installation plugin suivi de performance </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Hébergement et nom de domaine 1 an </li>
                                <li><i class="fa fa-check-circle text-primary"></i> 4 adresses e-mail </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'une page pro réseau social </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Formation </li>
                            </ul>
                            <div class="pricing_btn text-center m-top-20 m-bottom-20">
                                <h3>2 500€</h3>
                            </div>
                            <div align="center" >
                                <a href="{{ path ('devis') }}#challenger" class="btn btn-default">Demander un devis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off col-md-4 -->

            <div class="col-md-4 col-sm-12">
                <div class="pricing_item">

                    <div class="pricing_head p-top-30 p-bottom-100 text-center">
                        <div class="card-img">
                            <img src="/images/Expert.png" alt="Pack expert">
                            <br/><br/>
                            <h3 class="text-uppercase"><strong>Pack expert</strong></h3>
                        </div><br/>

                        <div class="pricing_body bg-white p-top-20 p-bottom-20" style="line-height:1.5;text-align: left;padding-left: 2%;padding-right:2%">
                            <ul style="font-weight:600;">
                                <li><i class="fa fa-check-circle text-primary"></i> Création du site sur mesure </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Thème unique design sur mesure </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Responsive design </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Cahier des charges et accompagnement </li
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un formulaire de contact </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un formulaire de devis </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un blog </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'un espace d'administration </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Intégration de votre contenu </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création de votre charte graphique </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Stratégie SEO personnalisée </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Suivi de performance </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Hébergement et nom de domaine </li>
                                <li><i class="fa fa-check-circle text-primary"></i> 8 adresses e-mail </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Création d'une page pro réseau social </li>
                                <li><i class="fa fa-check-circle text-primary"></i> Formation </li>
                            </ul>
                            <div class="pricing_btn text-center m-top-20">
                                <h3>à partir de 4 000€</h3>
                            </div>
                            <div align="center" >
                                <a href="{{ path ('devis') }}#expert" class="btn btn-default">Demander un devis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End off col-md-4 -->
            </div>


    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="/images/conseil.png" alt="conseil/audit">
                        <br/><br/>
                        <h3 class="text-uppercase"><strong>AUDIT/CONSEIL</strong></h3>
                    </div><br/>

                    <div class="pricing_body bg-white p-top-20 p-bottom-20" style="text-align: left;padding-left: 2%;padding-right:2%">
                        <ul style="font-weight:600;">
                            <li><i class="fa fa-check-circle text-primary"></i> Rapport d'analyse complet avec préconisations</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Identification de facteurs techniques bloquants</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Analyse des pages de votre site Internet</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Gestion des redirections web</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Pertinence des mots clés ciblés</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Analyse positionnement et celui des concurrents</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Architecture du site et mailage</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Analyse du contenu éditorial</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Parcours et expérience utilisateur</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Analyse du tunnel de conversion</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Recherches d'opportunités</li>
                        </ul>
                        <div class="pricing_btn text-center m-top-20">
                            <div align="center" >
                                <a href="{{ path ('devis') }}#consulting" class="btn btn-default">Demander un devis</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->

        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="/images/design.png" alt="design" style="height:189px;">
                        <br/><br/>
                        <h3 class="text-uppercase"><strong>Design</strong></h3>
                    </div><br/>

                    <div class="pricing_body bg-white p-top-20 p-bottom-20" style="text-align: left;padding-left: 2%;padding-right:2%">
                        <ul style="font-weight:600;">
                            <li><i class="fa fa-check-circle text-primary"></i> Conception charte graphique</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Création logo</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Plaquette papier</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Catalogue de produit</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Flyer</li>
                        </ul>
                        <div class="pricing_btn text-center m-top-20">
                            <div align="center" >
                                <a href="{{ path ('devis') }}#design" class="btn btn-default">Demander un devis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->

        <div class="col-md-4 col-sm-12">
            <div class="pricing_item">

                <div class="pricing_head p-top-30 p-bottom-100 text-center">
                    <div class="card-img">
                        <img src="/images/Inbound.png" alt="inbound marketing" style="height:189px;">
                        <br/><br/>
                        <h3 class="text-uppercase"><strong>INBOUND MARKETING</strong></h3>
                    </div><br/>

                    <div class="pricing_body bg-white p-top-20 p-bottom-20" style="text-align: left;padding-left: 2%;padding-right:2%">
                        <ul style="font-weight:600;">
                            <li><i class="fa fa-check-circle text-primary"></i> Définition du contexte et analyse du marché</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Gestion des réseaux sociaux</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Référencement SEO </li>
                            <li><i class="fa fa-check-circle text-primary"></i> Production de contenu</li>
                            <li><i class="fa fa-check-circle text-primary"></i> Optimisation ROI</li>
                        </ul>
                        <div class="pricing_btn text-center m-top-40">
                            <div align="center" >
                                <a href="{{ path ('devis') }}#inboundmarketing" class="btn btn-default">Demander un devis</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><!-- End off col-md-4 -->
    </div>
    </div><!--End off row-->

    
<br/><br/>
    </div><!--End off container -->
</section> <!--End off Pricing section -->


<a href="#" class="scrollup" style="display: block;"></a>

{% include 'layout/footer.html.twig' %}
</body>
{% include 'layout/javascripts.html.twig' %}