<footer>
    <!--<div class="action-lage"></div>-->
    <div class="main_footer fix bg-mega text-center p-top-40 p-bottom-30 m-top-80">
        <div class="col-md-12">
            <p class="wow fadeInRight" data-wow-duration="1s">
                Copyright © 2018 Digiteam |
                <a href="{{ path('mentionsLegales') }}">Mentions légales |</a>
                <a href="{{ path('siteMap') }}"> Plan du site |</a>
                <a href="{{ path('authentification') }}"> Administration</a>
                <a href="{{ path('mail') }}">test_maildevis</a>
                <a href="{{ path('devis') }}">test_devis</a>
            </p>
        </div>
    </div>
</footer>