<nav class="navbar navbar-default bootsnav navbar-fixed no-background white">

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Tapez ici votre recherche">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <div class="container">
        <div class="attr-nav">
            <ul>
                <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
            </ul>
            <ul class="list-inline m-top-20">
                <li><a href=""><i class="fa fa-facebook"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('accueil') }}">
                <img src="/images/logo.png" class="logoDT" alt="">
                <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
            </a>
        </div>
        <!-- End Header Navigation -->
        <!-- navbar menu -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="{{ path('accueil') }}">Accueil</a></li>
                <li><a href="{{path('agenceDigiTeam') }}">Agence</a></li>
                <li><a href="{{ path('accueil') }}#expertise">Expertises</a></li>
                <li><a href="{{ path ('services') }}">Services</a></li>
                <li><a href="{{ path('accueil') }}#portfolio">Portfolio</a></li>
                <li><a href="{{ path('blog') }}">Blog</a></li>
                <li><a href="{{ path('contact') }}">Contact</a></li>
                <li><a href="{{ path('devis') }}">Devis</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
